<!--input matInput id="testInput" [value]="url" type="text" [(ngModel)]="url"-->
<!--button (click)="showBus()">Bus</button-->
<!--input type="number" [value]="selectedLine" [(ngModel)]="selectedLine">
<button (click)="showSelectedLine()">afficher</button>
<button (click)="hideSelectedLine()">masquer</button-->


<!--mat-spinner *ngIf="!gestionLigneArret.isLoading()"></mat-spinner-->

<div id="wrapper">
  <mat-toolbar>

    {{getLibSlider()}}

    <span class="example-fill-remaining-space"></span>

    <span *ngIf="!(gestionLigneArret.fAnnee==='')" style="font-size: 8pt; font-style: italic">
      (Année : {{gestionLigneArret.fAnnee}}
      <span *ngIf='!(gestionLigneArret.fJours.length===0)'>
        - Jours :
        <span *ngFor='let j of gestionLigneArret.fJours'>
          {{j}},
        </span>
      </span>
      <span *ngIf='!(gestionLigneArret.fMois.length===0)'>
        - Mois :
        <span *ngFor='let m of gestionLigneArret.fMois'>
          {{m}},
        </span>
      </span>

        - Pas par : {{gestionLigneArret.fTypeNavigation}}

      )
    </span>


    <button mat-icon-button matTooltip="Afficher/Masquer les lignes" (click)="hideShowLines()">
      <mat-icon *ngIf="!linesVisible" style="color : lightgrey" svgIcon="timeline"></mat-icon>
      <mat-icon *ngIf="linesVisible" color="primary" svgIcon="timeline"></mat-icon>
    </button>

    <button mat-icon-button matTooltip="Afficher/Masquer les arrêts" (click)="hideShowStops()">
      <mat-icon *ngIf="!stopsVisible" style="color : lightgrey" svgIcon="stop"></mat-icon>
      <mat-icon *ngIf="stopsVisible" color="primary" svgIcon="stop"></mat-icon>
    </button>

    <button mat-icon-button matTooltip="Afficher/Masquer le fond de carte" (click)="hideShowMap()">
      <mat-icon *ngIf="!mapVisible" style="color : lightgrey" svgIcon="map"></mat-icon>
      <mat-icon *ngIf="mapVisible" color="primary" svgIcon="map"></mat-icon>
    </button>

    <button mat-icon-button matTooltip="Télécharger une capture de la carte" (click)="exportToPNG()">
      <mat-icon svgIcon="camera"></mat-icon>
    </button>

  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" *ngIf="!gestionLigneArret.isLoading()" style="z-index:1; position: absolute;"></mat-progress-bar>
  <span style="z-index:1; position: absolute; text-align: center; color: white; width: 100%; height: 50px; background-color: rgba(0, 170, 5, 0.3)">
    {{stopHoveredData}}
  </span>

  <div id="map" class="map"></div>
</div>