
<mat-card>
  <!-- [style.backgroundColor]="'lightGray'" -->
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      Nombre de validations par arrêt
    </mat-card-title>
    <mat-card-subtitle>Filtres</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ligne
          </mat-panel-title>
          <mat-panel-description>
            Filtrer les lignes à analyser
            <mat-icon svgIcon="timeline"></mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-radio-group class="example-radio-group" [(ngModel)]="allLines">
          <mat-radio-button class="example-radio-button" [value]="true" (click)="arretsSelectionType='pers'">
            Toutes les lignes (Bus et tram)
          </mat-radio-button>
          <br>
          <br>
          <mat-radio-button class="example-radio-button" [value]="false" (click)="arretsSelectionType='selectedLines'">
            Selectionner ligne(s)
          </mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <span *ngIf="!allLines">
          <mat-icon matPrefix svgIcon="bus"></mat-icon>
          <mat-form-field style="width: 85%">
            <mat-select placeholder="Lignes de bus" [formControl]="ligneBFc" [(ngModel)]="selectedBusLines" multiple (change)="setSelectedLinesStops();">
              <ng-container *ngFor="let ligne of lignes">
                <mat-option *ngIf="isBus(ligne)" [value]="ligne">{{ligne.getNomCommercial()}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button (click)="resetSelectedBus()">
            <mat-icon svgIcon="close"></mat-icon>
          </button>
          <br>

          <mat-icon matPrefix svgIcon="tram"></mat-icon>
          <mat-form-field style="width: 85%">
            <mat-select placeholder="Lignes de Tram" [formControl]="ligneTFc" [(ngModel)]="selectedTramLines" multiple (change)="setSelectedLinesStops();">
              <ng-container *ngFor="let ligne of lignes">
                <mat-option *ngIf="isTram(ligne)" [value]="ligne">{{ligne.getNomCommercial()}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button (click)="resetSelectedTram()">
            <mat-icon svgIcon="close"></mat-icon>
          </button>
        </span>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Suivant</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Arrêt
          </mat-panel-title>
          <mat-panel-description>
            Filtrer les arrêts à analyser
            <mat-icon svgIcon="stop"></mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-radio-group class="example-radio-group" [(ngModel)]="arretsSelectionType">
          <mat-radio-button class="example-radio-button" value="all">
            Tous les arrêts
          </mat-radio-button>
          <br *ngIf="!allLines">
          <br *ngIf="!allLines">
          <mat-radio-button *ngIf="!allLines" class="example-radio-button" value="selectedLines">
            Arrêts des lignes selectionnées
          </mat-radio-button>
          <br>
          <br>
          <span *ngIf="arretsSelectionType==='selectedLines'">
            <mat-icon matPrefix svgIcon="stop"></mat-icon>
            <mat-form-field style="width: 75%">
              <mat-select placeholder="Arrêts des lignes selectionnées" [formControl]="arretFc" [(ngModel)]="selectedSelectedLinesStops" multiple>
                <ng-container *ngFor="let arret of selectedLinesStops">
                  <mat-option [value]="arret">{{arret.getNomLong()}} : {{arret.getNomCommercial()}}</mat-option>
  
                </ng-container>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="allSelectedLinesStops();">
                <mat-icon matPrefix svgIcon="select_all"></mat-icon>
              </button>
              <button mat-icon-button (click)="clearSelectedLinesStops();">
                <mat-icon matPrefix svgIcon="close"></mat-icon>
              </button>
            <br><br>
          </span>
          <mat-radio-button class="example-radio-button" value="pers">
            Selectionner arrêt(s)
          </mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <span *ngIf="arretsSelectionType==='pers'">
          <mat-icon matPrefix svgIcon="stop"></mat-icon>
          <mat-form-field style="width: 85%">
            <mat-select placeholder="Arrêts" [formControl]="arretFc" [(ngModel)]="selectedStops" multiple>
              <ng-container *ngFor="let arret of arrets">
                <mat-option [value]="arret">{{arret.getNomLong()}} : {{arret.getNomCommercial()}}</mat-option>

              </ng-container>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button (click)="resetSelectedStops()">
            <mat-icon svgIcon="close"></mat-icon>
          </button>
          <br>
        </span>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Précédent</button>
          <button mat-button color="primary" (click)="nextStep()">Suivant</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Période
          </mat-panel-title>
          <mat-panel-description>
            Période d'analyse
            <mat-icon svgIcon="date_range"></mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>


        <p style="width:500px">
          <mat-form-field>
            <mat-select placeholder="Années" [(ngModel)]="selectedYear">
              <mat-option *ngFor="let a of annees" [value]="a">{{a}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p style="width:500px">
          <mat-form-field style="width:80%">
            <mat-select placeholder="Mois" [formControl]="moisFc" [(ngModel)]="selectedMonths" multiple>
              <mat-option *ngFor="let m of mois" [value]="m">{{m}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button (click)="allMonths();">
            <mat-icon matPrefix svgIcon="select_all"></mat-icon>
          </button>
          <button mat-icon-button (click)="clearMonths();">
            <mat-icon matPrefix svgIcon="close"></mat-icon>
          </button>
        </p>
        <p style="width:500px">
          <mat-form-field style="width:80%">
            <mat-select placeholder="Jours de semaine" [formControl]="jourFc" [(ngModel)]="selectedDays" multiple>
              <mat-option *ngFor="let jour of jours" [value]="jour">{{jour}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button (click)="allDays()">
            <mat-icon matPrefix svgIcon="select_all"></mat-icon>
          </button>
          <button mat-icon-button (click)="clearDays()">
            <mat-icon matPrefix svgIcon="close"></mat-icon>
          </button>
        </p>



        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Précédent</button>
          <button mat-button color="primary" (click)="nextStep()">Suivant</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Magnétoscope
          </mat-panel-title>
          <mat-panel-description>
            Paramètres du magnétoscope
            <mat-icon svgIcon="movie"></mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-radio-group class="example-radio-group" [(ngModel)]='navType'>
          <mat-radio-button class="example-radio-button" value="jour">
            Pas = jour
          </mat-radio-button>
          <br>
          <br>
          <mat-radio-button class="example-radio-button" value="mois">
            Pas = mois
          </mat-radio-button>
          <br>
          <br>
          <mat-radio-button class="example-radio-button" value="heure">
            Pas = période horaire
          </mat-radio-button>
          <br>
          <br>
          <mat-radio-button class="example-radio-button" value="jourHeure">
            Pas = jour et période horaire
          </mat-radio-button>
        </mat-radio-group>
        <p>
          <mat-form-field>
            <mat-select placeholder="Vitesse" [(ngModel)]="speed" name="vitesse">
              <mat-option value="1300">Trés lent</mat-option>
              <mat-option value="1000">Lent</mat-option>
              <mat-option value="700">Moyen</mat-option>
              <mat-option value="400">Rapide</mat-option>
              <mat-option value="100">Trés rapide</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <mat-action-row>
          <!--button mat-button color="warn" (click)="prevStep()">Précédent</button-->
          
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>
    <p style="align-content: center">
        <button mat-flat-button color="accent" (click)="nextStep();drawer.toggle();getData();">Visualiser les données</button>
    </p>
    
  </mat-card-content>
</mat-card>