.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-header-image {
  background-image: url('../../assets/med/validation.jpg');
  background-size: cover; 
}