<!--The content below is only a placeholder and can be replaced.-->

<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <button mat-icon-button (click)="drawer.toggle();">
          <mat-icon svgIcon="menu"></mat-icon>
        </button>
      </span>

      <span>{{title}}</span>
      <span class="example-fill-remaining-space"></span>
      <span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon svgIcon="more_vert"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon svgIcon="refresh"></mat-icon>
            <span>Actualiser les données</span>
          </button>
        </mat-menu>

      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div>
  <mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer #drawer class="example-sidenav" mode="Over" color="primary">
      <!--p *ngIf="showFiller">test.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button color="primary">
        Toggle extra text
      </button-->
      <p>
        <app-sidenav-filters [drawer]="drawer"></app-sidenav-filters>
      </p>
    </mat-drawer>

    <div class="example-sidenav-content">
      <mat-tab-group class="demo-tab-group">
        <mat-tab label="Carte">
          <div class="demo-tab-content">
            <navigationCarte></navigationCarte>
            <!--mat-card class="example-card">
              <mat-card-content>
                <div id="navCarte">
                    <navigationCarte [sliderValue]="sv"> </navigationCarte>
                </div>
                <div class="example-selected-value">Selected value: {{group.value}}</div>
              </mat-card-content>
            </mat-card-->
          </div>
        </mat-tab>
        <mat-tab label="Filtres">
          <div class="demo-tab-content">
            <!-- debut tab2 content -->
            <div class="demo-tab-content">

              <!--mat-card class="example-card">
                <mat-card-content>

                  <div class="example-selected-value">Selected value: {{group.value}}</div>
                </mat-card-content>
              </mat-card-->
            </div>
            <!-- fin tab2 content -->
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-drawer-container>
</div>