<app-olmap [sliderValue]='sliderValue'></app-olmap>
<mat-card class="example-card">
  <mat-card-content id="navCarte">
      <div id="buttons">

        <button mat-icon-button (click)="rewButtonClick(speed)" [disabled]="rewinding">
          <mat-icon svgIcon="keyboard_arrow_left"></mat-icon>
        </button>

        <button mat-icon-button (click)="playButtonClick(speed)" [disabled]="playing">
          <mat-icon svgIcon="keyboard_arrow_right"></mat-icon>
        </button>

        <button mat-icon-button (click)="pauseButtonClick()">
          <mat-icon svgIcon="pause"></mat-icon>
        </button>

        <button mat-icon-button (click)="setSliderValue(0)">
          <mat-icon svgIcon="replay"></mat-icon>
        </button>

        <button mat-icon-button (click)="looping=!looping;">
          <mat-icon *ngIf="!looping" style="color : lightgrey" svgIcon="loop1"></mat-icon>
          <mat-icon *ngIf="looping" color="primary" svgIcon="loop1"></mat-icon>
        </button>

      </div>

      <div id="slider">
          <mat-slider step="1" tickInterval="1" [min]="minSliderValue" [max]="maxSliderValue" [value]="sliderValue"
            [(ngModel)]="sliderValue">
          </mat-slider>
        <br>
    </div>

  </mat-card-content>
</mat-card>