$Black:hsl(0, 0%, 0%);
$Grey:#cfcece;



mat-slider{
  width: 100%;
}

#navCarte{
  display: flex;
  //position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#buttons{
  flex: 0 0 20%;
  //float: left;
  //margin: 10 auto;
  //overflow:hidden;
}
#slider {
  flex: 1;

  //overflow:hidden;
}

app-olmap{
  width: 100%;
  height: 100%;
}
