<!--app-map [sliderValue]="sliderValue" [(ngModel)]="sliderValue" ngDefaultControl></app-map-->

<app-olmap [sliderValue]='sliderValue'></app-olmap>
<mat-card class="example-card">
  <mat-card-content>
    <div id="navCarte">
      <div id="buttons">
        <!--span>
          <mat-button-toggle-group #group="matButtonToggleGroup" (click)="setNavType(navType)" [value]="navType" [(ngModel)]="navType">
            <mat-button-toggle value="3">
              Heure
            </mat-button-toggle>
            <mat-button-toggle value="0">
              Jour
            </mat-button-toggle>
            <mat-button-toggle value="1">
              Mois
            </mat-button-toggle>
            <mat-button-toggle value="2">
              Année
            </mat-button-toggle>
          </mat-button-toggle-group>
        </span-->

        <button mat-icon-button (click)="rewButtonClick(speed)" [disabled]="rewinding">
          <mat-icon svgIcon="keyboard_arrow_left"></mat-icon>
        </button>

        <button mat-icon-button (click)="playButtonClick(speed)" [disabled]="playing">
          <mat-icon svgIcon="keyboard_arrow_right"></mat-icon>
        </button>

        <button mat-icon-button (click)="pauseButtonClick()">
          <mat-icon svgIcon="pause"></mat-icon>
        </button>

        <button mat-icon-button (click)="setSliderValue(0)">
          <mat-icon svgIcon="replay"></mat-icon>
        </button>

        <button mat-icon-button (click)="looping=!looping;">
          <mat-icon *ngIf="!looping" style="color : lightgrey" svgIcon="loop1"></mat-icon>
          <mat-icon *ngIf="looping" color="primary" svgIcon="loop1"></mat-icon>
        </button>

        <!--span>
          <mat-form-field class="example-full-width">
            <input matInput [value]="sliderValue" type="number" min="0" [max]="maxSliderValue" [(ngModel)]="sliderValue">
          </mat-form-field>
          <!--mat-form-field class="example-full-width">
      <input matInput [value]="sliderValue" (input)="limitSliderInputValue()" [(ngModel)]="sliderValue">
    </mat-form-field->
        </span-->


        <!--A INTEGRER AUX PARAMETRES DU MAGNETO>
        <span>
          <mat-form-field>
            <mat-select placeholder="Vitesse" [(ngModel)]="speed" name="vitesse">
              <mat-option value="1300">Trés lent</mat-option>
              <mat-option value="1000">Lent</mat-option>
              <mat-option value="700">Moyen</mat-option>
              <mat-option value="400">Rapide</mat-option>
              <mat-option value="100">Trés rapide</mat-option>
            </mat-select>
          </mat-form-field>
        </span-->

      </div>

      <div id="slider">
          <mat-slider step="1" tickInterval="1" [min]="minSliderValue" [max]="maxSliderValue" [value]="sliderValue"
            [(ngModel)]="sliderValue"></mat-slider>
        <br>
        <div style="width: 100%; text-align: center">
          {{mois[sliderValue]}}
        </div>
        <!--table style="width: 100%; text-align: center">
          <tr>
            <td *ngFor="let m of mois">{{m}}</td>
          </tr>
        </table-->

      </div>

    </div>

  </mat-card-content>
</mat-card>